.bg-silver
{
    background-color: silver;
}
.bg-gray
{
    background-color: gray;
}

.bg-09c
{
    background-color: #09c;
}

.bg-orange
{
    background-color: orange;
}

.bg-yellow
{
    background-color: yellow;
    
}